* {
	box-sizing: border-box;
}

@font-face {
  font-family: autumn;
  src: url('Autumn\ in\ September.ttf')format('truetype');
}

@font-face {
  font-family: pepper;
  src: url('PeperritoOrnaments-Regular.ttf')format('truetype');
}

@font-face {
  font-family: lemon;
  src: url('Foggy\ Cemetery.ttf')format('truetype');
  font-weight: 1000;
}

body {
  background-image: url(sky.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
}

#wrapper {
	margin: auto;
	padding-top: 10px;
    aspect-ratio: auto;
}
#header {
    height: auto;
      background-color: #8967B3;
      margin: 15px auto;
      padding: 20px;
      border: 10px rgb(202, 92, 202);
      border-style: groove;
      max-width: 900px;
      aspect-ratio: auto;
      font-family: monoSpace;
}

#header ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;
      justify-content: space-evenly;
}

.container {
  aspect-ratio: auto;
  max-width: 900px;
  margin: 15px auto;
  Min-height: 50svh;
padding: 10px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-flow: column wrap;
  gap: 40px;
  --r: 11px;
  padding: calc(2 * var(--r));
  background: 
    radial-gradient(var(--r),#0000 98%,#fff) round
      calc(-1.5 * var(--r)) calc(-1.5 * var(--r)) / calc(3 * var(--r)) calc(3 * var(--r)),
    linear-gradient(#fff 0 0) no-repeat
      50% / calc(100% - 3 * var(--r)) calc(100% - 3 * var(--r));
}

.item {
  aspect-ratio: auto;
  min-height: 25vh;
  display: flex;
  margin: auto;
  padding: 1em;
  border: 1em solid transparent;
  background: linear-gradient(#f0e5d1, #f0e5d1) padding-box, 
    repeating-linear-gradient(-45deg, red 0, red 12.5%, #f0e5d1 0, #f0e5d1 25%, #58a 0, #58a 37.5%, #f0e5d1 0, #f0e5d1 50%) 0 / 7em 7em;
}

.item h1 {
  color: purple;
  font-family: autumn;
}

.item a {
  font-size: 20px;
  color: purple;
  font-family: autumn;
}
    a {
      font-size: 15px;
      color: white;
      text-decoration: none;
    }

    h1 {
      font-size: 20px;
      color: rgb(255, 255, 255);
      text-align: center;
      margin: 0;
    }
    h2 {
      font-size: 16px;
      color: rgb(145, 61, 145);
      text-align: center;
      margin: 2em;
      font-family: lemon;
    }
    h3 {
      font-family: pepper;
      font-size: 40px;
    }
    

    #me {
      text-align: center;
      margin: auto;
    }
    

    #home {
        width: 80px;
        height: 50px;
        text-align: center;
        background-color: pink;
    } 
    




#statuscafe {
    padding: .5em;
    background-color: azure;
    border: 1px solid midnightblue;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
