.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: bubblegumSans;
  src: url('BubblegumSans-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
  font-family: espresso;
  src: url('EspressoDolce.ttf')format('truetype');
}

* {
   box-sizing: border-box;
}

body {
  background-color: #517174;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;   
  overflow-x: hidden;
}

h3 {
  font-family: espresso;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  margin: 0px 20px;
  clear: both;
  font-weight: normal;
  padding: 15px;
  background-color: #9d67cf;
}

#container {
  aspect-ratio: auto;
  max-width: 900px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;  
  width: 70vw;
  height: 500px;
  position: relative;
  text-align: center;
  background-image: url(library.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.content {
  background-color: #51322d;
  border: 2px solid rgb(56, 33, 4);
  border-radius: 3px;
  aspect-ratio: auto;
  max-width: 900px;
  margin: auto;
  padding: 10px;  
  width: 70vw;
  position: relative;
  text-align: center;
}

/* HEADER */

#header {
  max-width: 400px;
  position: relative;
  margin: 0 auto 30px;
  text-align: center;
  border: 2px #000000 solid;
  padding: 5px;
  background-color: rgb(116, 79, 74);
  border-radius: 3px;
}

#header h1 {
  font-size: 36px;
  font-family: "Crimson Text", serif;
  letter-spacing: 0.05em;
  color: #ffffff;
  line-height: 42px;
  font-weight: bold;
  padding-bottom: 12px;
}

#header a {
  font-size: 20px;
  color: #1e9ed1;
}

#header a:hover {
  text-decoration: underline;
}


/* TABLE OF CONTENTS */

#toc {
  font-size: 20px;
  line-height: 1.5em;
  margin-left: 35px;
  display: flex;
  flex-wrap: wrap;
}

.toc-item {
    padding: 10px 20px;
    font-size: 15px;
    background-image: url(1.jpg);
    margin-right: 5px;
    margin-bottom: 10px;
}

.toc-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}


/* CATEGORY */

.category {
  margin: auto;
  text-align: center;
  padding: auto;
  overflow: auto;
}

.category h1 {
  font-family: espresso;
  color: #694986;
  border: 2px solid #704214;
  background-image: url(1.jpg);
  width: 120px;
  font-size: 24px;
  text-align: center;
  margin: auto;
}

/* ITEM */

.item {
  display: block;
  float: left;
  border: 5px inset #704214;
  border-radius: 5px;
  background-image: url(lined.jpg);
  background-size: 100%;
  padding: 15px;
  margin-top: 15px;
  margin-left: 15px;
  height: 300px;
  width: 200px;
  color: #694986;
  font-family: Crimson Text;
  overflow: hidden;
}



.item-title:hover {
  text-decoration: underline;
}

.item p {
  padding: 15px 20px;
  color: rgb(185, 43, 174);
  font-size: 1em;
}

.see-also {
  border-top: 1px #000000 solid;
  margin: 5px 10px;
}

.see-also-link {
  text-decoration: underline;
}





p {
  font-size: 16px;
  line-height:1.5em;
}

a {
  text-decoration:none;
  color:#000000;
}

@media screen and (max-width: 700px) {
  .item {
    width: 90%;
    max-height: 200px;
    text-align: center;
  }

  #container {
    width: auto;
    padding: 2em 10px 4em;
  }
  .content {
    width: auto;
    padding: 2em 10px 4em;
  }
  
}