@font-face {
    font-family: serverMono;
    src: url('ServerMono-Regular.otf') format('opentype');
  }
  
  @font-face {
    font-family: emilysCandy;
    src: url('EmilysCandy-Regular.ttf') format('truetype');
  }
  
  * {
    box-sizing: border-box;
    cursor: url('cursor_point1a.cur'), url('cursor_point1a.gif'), default;
  }

  body {
      font-family: 'serverMono', sans-serif;
      margin: 0 auto;
      background: pink;
      
  }
  
  h1 {
      text-align: center;
      line-height: 100px;
      margin: 0;
      font-size: 25px;
    }
  
  #container {
      aspect-ratio: auto;
      max-width: 900px;
      margin: 15px auto;
      Min-height: 50svh;
      --r: 11px;
      padding: calc(2 * var(--r));
      background: 
        radial-gradient(var(--r),#0000 98%,#fff) round
          calc(-1.5 * var(--r)) calc(-1.5 * var(--r)) / calc(3 * var(--r)) calc(3 * var(--r)),
        linear-gradient(#fff 0 0) no-repeat
          50% / calc(100% - 3 * var(--r)) calc(100% - 3 * var(--r));
          
      
  }
  
  #container a {
      color: white;
      font-weight: bold;
  }
  
  #header {
      width: auto;
      height: 150px;
      background-image: url(container.png);
      background-size: 100%;
      position: center;
      border: 10px groove;
      border-color: rgb(202, 92, 202);
  }
  
  
  #navbar {
      height: auto;
      background-color: #8967B3;
      margin: 0;
      padding-bottom: 10px;
      border: 10px rgb(202, 92, 202);
      border-style: none groove groove groove;
      width: auto;
      font-family: monoSpace;
  }
  
  #navbar ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;
      justify-content: space-evenly;
  }
  
  #navbar li {
      padding-top: 12px;
  }
  #navbar li a {
      color: #00e760;
      text-decoration: none;
      font-size: 20px;
  }
  
  #navbar li a:hover {
      text-decoration: underline;
  }
  
  #flex {
      display: flex;
  }
  
  aside {
      background-color: #8967B3;
      width: 220px;
      padding: 15px;
      font-family: 'emilysCandy', sans-serif;
      font-size: smaller;
      border: 10px rgb(202, 92, 202);
      border-style: none groove groove groove;
      margin: 0 auto;  
  }
  
  main {
      background-image: url(floatie.gif);
      width: 250px;
       background-size: cover;
       background-position: center;
      background-repeat: no-repeat;
      flex: 1;
      padding: 20px;
      order: 2;
  }
  
  #leftSidebar {
      order: 1;     
  }
  
  #leftSidebar li {
    list-style: url("strawberry.gif");
  }
  
  #leftSidebar h2 {
      text-align: center;
  }
  
  #rightSidebar {
      order: 3;
      list-style: url("strawberry.gif");
  }
     
      
  
  footer {
      background-color: #8967B3;
      width: auto;
      height: 80px;
      padding: 20px;
      margin: 0 auto;
      text-align: center;
      display: flex;
      box-shadow: 0 0 0 2px rgb(202, 92, 202), 8px 8px 0 0 rgb(202, 92, 202);
  }
  
  h1,
  h2,
  h3 {
      color: #ffffff;
  }
  
p {
    color: whitesmoke;
    font-size: 15px;
}
  
  strong {
      /* this styles bold text */
      color: #870b8d;
  }
  
  /* this is just a cool box, it's the darker colored one */
  .box {
      background-color: #624E88;
      border: 1px solid #4b0250;
      padding: 5px;
  }

  .box ul {
    text-align: left;
  }

  .box li {
    color: white;
  }

  .box p {
    text-align: center;
  }
  

  #abutton {
    width:30%;
    height:25%;
    vertical-align: middle;
    padding-bottom: 5px;
}

#stamp {
    width:30%;
    height:30%;
    vertical-align: middle;
}
  
  /* CSS for extras */
  
  #topBar {
      width: 100%;
      height: 30px;
      padding: 10px;
      font-size: smaller;
  }
  
  #sources {
     background-image: none;
     background-color: #8967B3;
     list-style: url("strawberry.gif");
     display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;
  }

  
  @media only screen and (max-width: 750px) {
    #navbar li a {
        font-size: 15px;
    }
    main {
        background-image: none;
        background-color: #8967B3;
    }
    #abutton {
        width: 10vw;
    }
    #stamp {
        width: 10vw;     
    }
    .box {
        font-size: 12px;
    }
    aside ul {
        flex: 1;
    }
  }
