@font-face {
    font-family: bubblegumSans;
    src: url('BubblegumSans-Regular.otf') format('opentype');
      font-weight: 400;
  }

  @font-face {
    font-family: espresso;
    src: url('EspressoDolce.ttf')format('truetype');
  }
  
  * {
    box-sizing: border-box;
    cursor: url('cursor_point1a.cur'), url('cursor_point1a.gif'), default;
    text-decoration: none;
  }

  h1,
  h2,
  h3 {
      color: #ffffff;
  }

  h1 {
    text-align: center;
    line-height: 100px;
    margin: 0;
    font-size: 25px;
  }

  h2, h3 {
    font-size: 1.2em;
  }

p {
    color: whitesmoke;
    font-size: 1em;
}

  strong {
      color: #870b8d;
  }

  #wrapper {
    max-width: 1400px;
    margin: auto;
    flex-direction: vertical;
    aspect-ratio: auto;
    overflow: auto;
    justify-content: center;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  body {
      font-family: espresso;
      margin: 0 auto;
      width: 100vw;
      height: 100vh;
      background-image: url(background.png);
      background-repeat: repeat;
  }
  

  
  .container {
      aspect-ratio: auto;
      max-width: 900px;
      margin: auto;
      Min-height: 50svh;
      --r: 11px;
      padding: calc(2 * var(--r));
      background: 
        radial-gradient(var(--r),#0000 98%,#d082fd) round
          calc(-1.5 * var(--r)) calc(-1.5 * var(--r)) / calc(3 * var(--r)) calc(3 * var(--r)),
        linear-gradient(#d082fd 0 0) no-repeat
          50% / calc(100% - 3 * var(--r)) calc(100% - 3 * var(--r));    
  }
  
  .container a {
      color: white;
  }
  
  #header {
      max-width: 900px;
      height: 90px;
      border: 10px groove;
      border-color: rgb(202, 92, 202);
      border-radius: 10px;
      aspect-ratio: auto;
      margin: auto auto 10px auto;
      background-color: #8967B3;
  }

  #header ul {
    display: flex;
      padding: 0;
      margin: center;
      justify-content: space-evenly;
      list-style-type: none;
      font-family: bubblegumSans;
  }
  #header li {
    color: #ffffff;
      text-decoration: none;
      font-size: 2.5em;
  }
  
  #navbar {
      background-color: #8967B3;
      margin: 0;
      padding-bottom: 10px;
      border: 10px groove rgb(202, 92, 202);
      width: auto;
      font-family: bubblegumSans;
      margin-bottom: 10px;
      border-radius: 10px;
  }
  
  #navbar ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style-type: none;
      justify-content: space-evenly;
  }
  
  #navbar li {
      padding-top: 15px;
  }
  #navbar li a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.1em;
  }
  
  #navbar li a:hover {
      text-decoration: underline;
  }

 
  #flex {
      display: flex;
  }
  
  aside {
      background-color: #8967B3;
      width: 220px;
      height: auto;
      padding: 15px;
      font-family: espresso;
      border: 10px groove rgb(202, 92, 202);
      margin: 0; 
      text-align: center;
      list-style: url("strawberry.gif");   
  }

  aside ul {
   list-style: none;
   text-align: left;
  }

  aside li a:hover {
    text-decoration: underline;
  }
  
  
  main {
      background-image: url(floatie.gif);
      width: 250px;
       background-size: cover;
       background-position: center;
      background-repeat: no-repeat;
      flex: 1;
      padding: 20px;
      order: 2;
      border: 10px rgb(202, 92, 202);
      border-style: groove none groove none;
      height: auto;
  }
  
  #leftSidebar {
      order: 1;     
  }
  
  
  #rightSidebar {
      order: 3;
  }
     
      
  
  footer {
    font-family: foggy;
      background-color: #8967B3;
      max-width: 900px;
      height: 100px;
      padding: 25px;
      margin: 10px auto auto auto;
      text-align: center;
      display: flex;
      border: 10px groove rgb(202, 92, 202);
      border-radius: 10px;
  }

  footer a:hover {
    text-decoration: underline;
  }

  footer p {
    font-size: 12px;
    margin: auto;
  }

  footer a {
    color: white;
  }

  .bottom {
    background-color: #8967B3;
      max-width: 900px;
      height: 100px;
      padding: 25px;
      margin: 10px auto auto auto;
      text-align: center;
      display: flex;
      border: 10px groove rgb(202, 92, 202);
      border-radius: 10px;
  }

  .bottom a {
    color: white;
  }

  #guestbook {
    margin: auto;
  }
  

  
  /* this is just a cool box, it's the darker colored one */
  .box {
      background-color: #624E88;
      border: 1px solid #4b0250;
      padding: 5px;
  }

  .box ul {
    text-align: left;
    list-style-image: url(strawberry.gif);
    list-style-position: outside;
  }

  .box li {
    color: white;
  }

  .box p {
    text-align: center;
  }
  

  #abutton {
    width: 3.3em;
    height:25%;
    vertical-align: middle;
    margin-bottom: 8px;
}

#stamp {
    width: 3.3em;
    height:30%;
    vertical-align: middle;
}

#secret {
  list-style-position: inside;
  margin-right: 25px;
}

#secret:hover {
  list-style: url('no.png');
  text-decoration: none;
}


  
  #topBar {
      width: 100%;
      height: 30px;
      padding: 10px;
      font-size: smaller;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(255, 96, 207, 0.753);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }



  #statuscafe {
    padding: .5em;
    background-color: #624E88;
     border: 1px solid #4b0250;
  }
  #statuscafe-username {
    margin-bottom: .5em;
    color: rgb(152, 255, 255);
  }
  #statuscafe-content {
    margin: 0 1em 0.5em 1em;
    color: white;
    font-family: foggy;
    font-size: 14px;
  }


  :root {
    --playerbg: #d082fd;
    --playerborder: rgb(202, 92, 202);
    --playertext: #ffffff;
    --playertitlebg: #8967B3;
    --playerbar: #d37dcf;
    --playericons: #a33194;
    }
    
    .playercontainer {
    display: flex;
    flex-flow: column nowrap;
    width: 200px;
    height: 200px;
    background-color: var(--playerbg);
    border: 3px outset var(--playerborder);
    padding: 5px;
    align-content: center;
    align-items: center;
    position: absolute;
    }
    
    .playercontainer .now-playing {
    width: 100%;
    height: 15%;
    color: var(--playertext);
    text-align: center;
    text-justify: center;
    font-size: .8vw;
    }
    
    .playercontainer marquee {
    width: 70%;
    height: 35%;
    border: 3px inset var(--playerborder);
    background-color: var(--playertitlebg);
    color: var(--playertext);
    text-align: center;
    font-size: 1.15vw;
    }
    
    .playercontainer .trackdurationcontrols {
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    gap: .4vw;
    font-size: .85vw;
    color: var(--playertext);
    }
    
    .playercontainer .trackdurationcontrols .bar {
    width: 60%;
    margin-left: .1vw;
    }
    
    .playercontainer .trackdurationcontrols .time {
    width: 15%; 
    }
    
    .playercontainer .trackdurationcontrols #current-time {
    margin-left: -3px; 
    }
    
    .playercontainer .trackdurationcontrols #duration {
    margin-left: -3px; 
    }
    
    .playercontainer .trackdurationcontrols input[type="range"] {
    background: transparent;
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    }
    
    /** Chrome, Safari, Opera, and Edge Chromium Track**/
    .playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-runnable-track {
    background: var(--playerbar);
    height: 0.1rem;
    width: 100%;
    }
    
    /** Firefox Track**/
    .playercontainer .trackdurationcontrols input[type="range"]::-moz-range-track {
    background: var(--playerbar);
    height: 0.1rem;
    width: 100%;
    }
    
    /** Chrome, Safari, Opera, and Edge Chromium Thumb**/
    .playercontainer .trackdurationcontrols input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: .1rem solid var(--playerbar);
    appearance: none;
    margin-top: -12px;
    background-color: var(--playericons);
    height: .5rem;
    width: .5rem;
    }
    
    /** Firefox Thumb**/
    .playercontainer .trackdurationcontrols input[type="range"]::-moz-range-thumb {
    border: .1rem solid var(--playerbar);
    border-radius: 0;
    background-color: var(--playericons);
    height: .5rem;
    width: .5rem;
    }
    
    .playercontainer .trackcontrols {
    width: inherit;
    height: 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5px;
    margin-top: -5%;
    }
    
    .playercontainer .trackcontrols button {
    color: var(--playericons);
    font-size: 1.8vw;
    background-color: transparent;
    border: none;
    }
    
    .playercontainer .creditstooltip {
    color: var(--playerbar);
    text-align: right;
    align-self: flex-end;
    margin-bottom: -5px;
    }
    
    /* Tooltip text */
    .playercontainer .creditstooltip .playercredits {
    visibility: hidden;
    width: 170px;
    font-size: 10px;
    background-color: var(--playertitlebg);
    color: white;
    text-align: center;
    padding: 2px 0;
    border-radius: 2px;
    margin: 18px 0 0 -162px;
    position: absolute;
    z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .playercontainer .creditstooltip:hover .playercredits {
    visibility: visible;
    }
    
    @media only screen and (max-width: 750px) {
     .playercontainer .now-playing {
     font-size: 1.7vw;
    }
    
    .playercontainer marquee {
     font-size: 2.3vw;
    }
    
    .playercontainer .trackdurationcontrols {
     gap: .4vw;
     font-size: 1.7vw;
    }
    
    .playercontainer .trackdurationcontrols .bar {
     margin-left: .2vw;
     margin-right: .3vw;
    }
    
    .playercontainer .trackdurationcontrols #current-time {
    margin-left: -2px; 
    }
    
    .playercontainer .trackdurationcontrols #duration {
    margin-left: -3px; 
    }
    
    .playercontainer .trackcontrols button {
     color: var(--playericons);
     font-size: 4vw;
     background-color: transparent;
     border: none;
    }
    }

    @media screen and (max-width: 800px) {
    
        .playercontainer {
            width: 150px;
            height: 150px;
            position: static;
        }
    }

  @media screen and (max-width: 500px) {
    
    main {
      background-image: none;
      background-color: #8967B3;
    }

   

   

  }


 
 
